/* Estilo da página inicial */

nav{
    width: 100%;
    padding: 10px;
    border-bottom: 1.5px solid rgba(80, 79, 79, 0.384);
    text-align: center;
}
nav #navBar{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color: black;
    text-shadow: .8px .8px 2px rgb(90, 90, 90);
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, monospace, Verdana, sans-serif;
    padding: 10px 0;
    padding-right: 12px;
    padding-left: 6px;
    border-radius: 5px;
    transition: .4s;
    
}
nav a:hover{
    color: #ffffff;
    text-decoration: none;
}
header{
    background-image: linear-gradient( to right, #a96f44, #f2ecb6);
    position: relative;
    min-height: 160px;
    width: 100%;
    text-align: center;
}
header h1{
    color: #000000;
    padding-top: 40px;
    font-size: 3em;
    font-family: fantasy;
    font-weight: bolder;
}
#cabecalho #ico_in{
    position: absolute;
    bottom: 150px;
    right: 200px;
}
#cabecalho #ico_git{
    position: absolute;
    bottom: 150px;
    right: 150px;
}
p{
    text-shadow: .8px .8px 2px;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, monospace, Verdana, sans-serif;
    color:#ffffff;
}
p:hover{
    color: #000000;
    text-decoration: none;
}
 
